body {
    background: #414350;
    overflow: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    transition: all .5s ease-in-out;

}

.page-container {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.caret {
    position: absolute;
    right: 5px;
    color: white;
    font-size: 100px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    z-index: 2;
}
.fa-caret-up {
    top: 0;
}

.fa-caret-down {
    bottom: 0;
}

.fa-caret-down.disabled, .fa-caret-up.disabled {
    color: grey;
}

.disabled {
    cursor: default;
}

.grid {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-wrapper {
    width: 50%;
    background: white;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page.active {
    transform: translateY(0);
}

.page.page-next {
    transform: translateY(100%);
}

.page.page-pre {
    transform: translateY(-100%);
}

#screenshot {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vw;
    height: 22.5vw;
    z-index: 5;
    transition: all .5s ease-in-out;
}

.sc-drop {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 17vw;
    left: 15vw;
    background: #adb2ba;
    opacity: .7;
    width: 10vw;
    height: 5vw;
    transition: all .5s ease-in-out;
    z-index: 3;
    border-radius: 50px;
}

.sc-drop.active {
    transform: translateY(6vw);
}

.sc {
    font-size: 33px;
    cursor: pointer;
}